* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #eceaea;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pokemon img:hover {
    transform: scale(5.1); 
    transition: transform 0.3s ease-in-out; 
    cursor: pointer; 
}